<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='globestyles.css') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>GlobeMarket Home</title>
</head>

<body style="background-image: url(static/image/snowfall.jpg)">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <img height="75px" width="150px" src="static/image/GlobesideNB.png">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Categories</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/fancy">Fancy</a>
                            <a class="dropdown-item" href="/novelty">Novelty</a>
                            <a class="dropdown-item" href="/mundane">Mundane</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="listings/create">Make A Listing</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <a class="btn btn-outline-success my-2 my-sm-0" type="submit" href="itemview.html">Search</a>
                    <ul class="navbar-nav mr-auto">
                        {% if current_user.is_authenticated %}
                        <a class="nav-item nav-link disabled text-muted" href="#"><span>Welcome,
                                {{ current_user.name }}</span></a>
                        <a class="nav-item nav-link" href="/watchlist">Watchlist</a>
                        <a class="nav-item nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
                        {% else %}
                        <a class="nav-item nav-link" href="{{ url_for('auth.register') }}">Register</a>
                        <a class="nav-item nav-link" href="{{ url_for('auth.login') }}">Log In</a>
                        {% endif %}
                    </ul>
                </form>
            </div>
        </nav>
        {% block header %}
        {% endblock %}
    </header>

    <!-- SEDAN SECTION -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" style="width: 400px;">
                <p class="h3 text-dark mb-4">Fancy</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="row">
                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            <img src="static/image/deer.png" class="card-img-top" alt="deer snowglobe">
                            <div class="card-body">
                                <p class="card-text">A fancy deer snowglobe, sporting a silver and white colour palette.
                                    Currently with 57 bids!</p>
                                <div id="testcentre"><a href="/" class="btn btn-primary">Go to this item!</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            <img src="static/image/dino.jpg" class="card-img-top" alt="deer snowglobe">
                            <div class="card-body">
                                <p class="card-text">A ferocious mystery dinosaur with 56 bids, a hot item for your
                                    snowglobe collection!</p>
                                <div id="testcentre"><a href="/" class="btn btn-primary">Go to this item!</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            <img src="static/image/chanelglobe.jpg" class="card-img-top" alt="deer snowglobe">
                            <div class="card-body">
                                <p class="card-text">A tacky chanel globe, though someone is selling it. Some say that's
                                    unprofessional... 55 bids!</p>
                                <div id="testcentre"><a href="/" class="btn btn-primary">Go to this item!</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-deck mb-6">

            {% for listing in listings %}
            <div class="card">
                <img class="card-img-top" src="{{destination.image}}" alt="France">
                <div class="card-body">
                    <h5 class="card-title">{{listing.name}}</h5>
                    <p class="card-text">{{listing.description}}</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            {% endfor %}

        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
</body>

</html>