<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='globestyles.css') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>GlobeMarket Home</title>
  </head>
  <!-- Background image  -->
  <body style="background-image: url(/static/image/snowfall.jpg)">
      <header>
        <!-- Create navbar -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <img height="75px" width="150px" src="/static/image/GlobesideNB.png">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categories</a>
                  <!-- Create dropdown menu for category search function (add urls for category) -->
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ url_for('categories.fancy') }}">Fancy</a>
                    <a class="dropdown-item" href="{{ url_for('categories.novelty') }}">Novelty</a>
                    <a class="dropdown-item" href="{{ url_for('categories.mundane') }}">Mundane</a>
                  </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="listings/create">Make A Listing</a>
                </li>
            </ul>
            <!-- If user is logged in add these -->
                {% if current_user.is_authenticated %} 
                  <a class="nav-item nav-link disabled text-muted" href="#"><span>Welcome, {{ current_user.name }}</span></a>
                  <a class="nav-item nav-link" href="/watchlist">Watchlist</a> 
                  <a class="nav-item nav-link" href="{{ url_for('auth.logout') }}">Log Out</a> 
            <!-- If user is not logged in add these links -->
                {% else %} 
                  <a class="nav-item nav-link" href="{{ url_for('auth.register') }}">Register</a> 
                  <a class="nav-item nav-link" href="{{ url_for('auth.login') }}">Log In</a> 
                {% endif %} 
            </div>
        </nav>
    {% block header %}
    {% endblock %}
    </header>
    {% block content %}
    {% endblock %}
      <div id="bottomgap" style="background-color: white;">
        <footer>
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <a class="fotext" href="/">About GlobeMarket</a>
              </div>
              <div class="col-sm">
                <a class="fotext" href="/listings/create">Sell</a>
              </div>
              <div class="col-sm">
                <a class="fotext" href="/">Go to top</a>
              </div>
              <div class="col-sm">
                <a class="fotext" href="/">Facebook</a>
              </div>
              <div class="col-sm">
                <a class="fotext" href="/">Not Facebook</a>
              </div>
              <div class="w-100"></div>
              <div class="col-sm">
                <p class="cptext">Copyright 2020</p>
                <p>This is in no way a real company, but for the sake of putting words down here to make this section look a little more
                filled out due to the padding, and to give you something to read I'll keep writing. It's just for you, don't worry
                gracious marker, I appreciate you making it all the way down here, even though is is now probably too long!</p>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>